{% load static %}
<!DOCTYPE html>

<html>

<head>
    <title>
        {% block title %}{% endblock title %}
    </title>
</head>

<body>
    <header>
        <nav>
            {% if user.is_authenticated %}

                <a style="text-decoration:none;" href="{% url 'logout' %}">|| Logout</a>
            {% else %}
                <a style="text-decoration:none;" href="{% url 'signup' %}"> Sign up ||</a>
                <a style="text-decoration:none;" href="{% url 'login' %}"> Login </a>
            {% endif %}
        </nav>
    </header>
    {% block content %}{% endblock content %}
</body>
