{% load static %}

<!doctype html>
<html>
<head>
    <title>Expense Categories</title>
</head>
<body>
    <header>
        <nav>
            {% if user.is_authenticated %}
            <a style="text-decoration:none;" href="{% url 'create_receipt' %}">|| Create Receipt</a>
            <a style="text-decoration:none;" href="{% url 'create_account' %}">|| Create Account</a>
            <a style="text-decoration:none;" href="{% url 'create_category' %}">|| Create Category</a>
            <a style="text-decoration:none;" href="{% url 'account_list' %}">|| Accounts</a>
            <a style="text-decoration:none;" href="{% url 'logout' %}">|| Logout ||</a>
            {% endif %}
        </nav>
    </header>
    <h1>Expense Categories</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.receipts.all|length }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
