{% load static %}
<!doctype html>
<html>

<head>
    <title>Create Account</title>
</head>

<body>
    <header>
        <nav>
            {% if user.is_authenticated %}
            <a style="text-decoration:none;" href="{% url 'create_receipt' %}">|| Create Receipt</a>
            <a style="text-decoration:none;" href="{% url 'create_category' %}">|| Create Category</a>
            <a style="text-decoration:none;" href="{% url 'category_list' %}">|| Expense Categories</a>
            <a style="text-decoration:none;" href="{% url 'account_list' %}">|| Accounts</a>
            <a style="text-decoration:none;" href="{% url 'logout' %}">|| Logout ||</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <div>
            <h1>Create Account</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
</body>
</html>
