
{% load static %}
<!DOCTYPE html>

<html>

<head>
    <title>My Receipts</title>
</head>
<body>
    <header>
        <nav>
            {% if user.is_authenticated %}
            <a style="text-decoration:none;" href="{% url 'create_receipt' %}">|| Create Receipt</a>
            <a style="text-decoration:none;" href="{% url 'create_account' %}">|| Create Account</a>
            <a style="text-decoration:none;" href="{% url 'create_category' %}">|| Create Category</a>
            <a style="text-decoration:none;" href="{% url 'category_list' %}">|| Expense Categories</a>
            <a style="text-decoration:none;" href="{% url 'account_list' %}">|| Accounts</a>
            <a style="text-decoration:none;" href="{% url 'logout' %}">|| Logout ||</a>

            {% else %}
                <a style="text-decoration:none;" href="{% url 'signup' %}"> Sign up ||</a>
                <a style="text-decoration:none;" href="{% url 'login' %}"> Login ||</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>
                {% for receipts in receipt_list %}
                    <tr>
                        <td>{{ receipts.vendor }}</td>
                        <td>{{ receipts.total }}</td>
                        <td>{{ receipts.tax }}</td>
                        <td>{{ receipts.date|date:"m/d/y" }}</td>
                        <td>{{ receipts.category.name }}</td>
                        <td>{{ receipts.account.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
